[2017-09-19 21:01] rgbkrk opened #3 "Write JSON Schema for the VDOM Spec"
Write [JSON Schema](http://json-schema.org/), like Jupyter does for nbformat.

To accompany [the spec doc](https://github.com/nteract/vdom/blob/master/docs/spec.md).

[2017-09-19 21:03] rgbkrk opened #4 "Create example notebooks"
Let's dogfood some documentation for `vdom`!

It can be similar to the [vdom notebook in nteract desktop](https://github.com/nteract/nteract/blob/master/packages/desktop/example-notebooks/vdom.ipynb).

[2017-09-22 20:35] sara-02 commented on #3
@rgbkrk I would like to take this up.

[2017-09-22 21:05] rgbkrk opened #7 "Check out JSON Markup Language"
Whoa. There's already a [spec for a JSON Markup Language](http://www.jsonml.org/). Chrome [ also allows you to use it in the devtools console](https://docs.google.com/document/d/1FTascZXT9cxfetuPRT2eXPQKXui4nWFivUnS_335T3U/preview#).  😮

[2017-09-22 21:10] rgbkrk commented on #3
Awesome! Have at it, let us know if you have questions.

[2017-09-22 21:14] willingc commented on #3
@sara-02 Fantastic. Like Kyle mentions, we'er happy to answer questions. :sunny:

[2017-09-23 06:45] sara-02 commented on #3
@rgbkrk @willingc Thanks. I will come back with questions when I code this up. :)

[2017-09-25 18:45] rgbkrk opened #11 "Write some best practices guidance for creating components"
Within `vdom`, the best way (that I can think of right now) to create new elements is to create functions that return elements:

[code]

Example in nteract:

![screen shot 2017-09-25 at 11 49 15 am](https://user-images.githubusercontent.com/836375/30825369-93461922-a1e7-11e7-803c-04bd20e7fb2d.png)

[2017-09-25 18:52] rgbkrk commented on #7
Now that I've checked it out, I'm going to step far away from this.

[2017-09-26 08:24] sara-02 commented on #3
@rgbkrk I was going through the codebase and found a schema validation function [here](https://github.com/nteract/vdom/blob/master/vdom/core.py#L14).
Why do we need another validator?

[2017-09-26 13:27] rgbkrk commented on #3
The validator doesn't do anything yet because we don't have a schema to run through it. It's ready for you!

[2017-09-26 16:29] rgbkrk commented on #3
Next steps to take:

Create `vdom.v1.schema.json` (see [`nbformat.v4.schema.json`](https://github.com/jupyter/nbformat/blob/master/nbformat/v4/nbformat.v4.schema.json) as an example). It's probably going to start off like:

[code]

After you've got the file written, you'll want to read it in and set it up as the default schema in the `toJSON` function.

[2017-09-27 23:57] #7 closed

[2017-09-29 01:41] rgbkrk opened #13 "Setup Travis and some tests"

[2017-09-29 05:35] ellisonbg commented on #11
Without JSX (let's not write JSX for python), this is exactly what I think makes sense. We were doing this with phosphor's vdom library before we got it working with JSX.

[2017-09-29 06:21] ellisonbg opened #16 "Provide SVG Helpers"
Wondering if it makes sense to create helpers for SVG elements? There are quite a few:

https://developer.mozilla.org/en-US/docs/Web/SVG/Element

Maybe a new `svg.py` file for those?

[2017-09-29 06:27] ellisonbg opened #17 "MIME based adaptor function"
Python objects can have special methods (`_repr_mimebundle_`, `_repr_html`, `_repr_png_`, etc.) that could be called to grab content that could be easily adapted to their VDOM based components. This would be a nice way of doing general purpose adaptation between other objects and the VDOM API. We could have a single function `vdom_adapt` that handles all this:

[code]

Then you could do things lik

[2017-09-29 22:34] rgbkrk commented on #16
Yeah I think that makes sense. Would we want it at `vdom.helpers.svg`, making helpers a subfolder/module, and ensuring the current tags surface on `vdom.helpers`?

[2017-09-29 22:42] rgbkrk commented on #17
That is such a great idea! All the image reprs seem like easy choices. We could do our classic display order handling here.

`_repr_html_` may be a dangerous one to handle for two reasons:

1. `dangerouslySetInnerHTML` does not actually run all scripts within since it's using `innerHTML`, which means it won't behave the same as how the current frontends handle html mimetypes (notebook uses `$.html

[2017-09-29 23:08] rgbkrk opened #18 "Attaching documentation to generated Tag Classes"
Since https://github.com/nteract/vdom/pull/14, we've started generating documentation on the fly for the component helpers. We could take this another step if we want, changing `createComponent` like this:

[code]

then in our helpers writing:

[code]

Which would allow people to be able to explore the elements to figure out what's available to them. We could even link straight to the MDN docs!

[2017-09-30 05:47] #13 closed

[2017-10-01 11:22] #11 closed

[2017-10-03 14:43] rgbkrk commented on #16
For potential contributors, here's what to do / how to tackle it:

* Create svg.py in `vdom/`
* Create the components for SVG like this:

[code]

* Create all the SVG components using MDN's [SVG Element](https://developer.mozilla.org/en-US/docs/Web/SVG/Element) reference

[2017-10-03 17:59] ellisonbg commented on #17
Yeah, for HTML we could parse it, walk the objects and emit JSON while
screening allowed tags/attrs, but I don't think that is worth it.

Is there anything else other than images this would work for?

On Fri, Sep 29, 2017 at 3:42 PM, Kyle Kelley <notifications@github.com>
wrote:

--
Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellison

[2017-10-03 18:26] rgbkrk commented on #17
I feel like if we use the IPython formatter API, we can use `text/plain`. Technically we could turn `application/javascript` into `script(code)`, though I'd much rather stick `script` on the blocklist for the frontend handling of vdom.

[2017-10-03 18:28] ellisonbg commented on #17
yeah +1 on blocking `script`

On Tue, Oct 3, 2017 at 11:26 AM, Kyle Kelley <notifications@github.com>
wrote:

--
Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on Twitter and GitHub
bgranger@calpoly.edu and ellisonbg@gmail.com

[2017-10-03 19:36] mpacer commented on #3
Hi @sara-02 for some further context, I had the understanding that you wanted to develop the json schema itself, not the functionality for validating the schema. I specifically wrote that PR in order to make it easier for you to pass your schema while you were developing it. I had meant to post

But I forgot to actually submit the comment.

Hopefully that helps give you context!

[2017-10-05 14:11] rgbkrk commented on #4
Some ideas for notebooks --

## Crafting tables from basic python arrays

![screen shot 2017-10-05 at 7 04 55 am](https://user-images.githubusercontent.com/836375/31231560-114abe66-a99c-11e7-8420-f9f44249cbe0.png)

## Creating "custom components" for PyData Stack objects

![screen shot 2017-10-05 at 7 10 16 am](https://user-images.githubusercontent.com/836375/31231671-5941c412-a99c-11e7-9d73-5c9b2

[2017-10-07 00:29] rgbkrk commented on #17
Ok Brian, I tried something a little crazy...

![screen shot 2017-10-06 at 5 29 22 pm](https://user-images.githubusercontent.com/836375/31303020-ea9861ee-aabb-11e7-820e-041bcbeab3e6.png)

Would it really be all that bad for us to parse some HTML or SVG :wink:?

[2017-10-07 00:34] ellisonbg commented on #17
Not too crazy - and probably going to be hard to stop folks from wanting this.  Would allow us to handle the SVG and HTML MIME types.

[2017-10-07 01:43] mpacer commented on #17
Probably could work with audio and video as easily as it does with images.

I think where it gets murky is when you have to do a lot of interpretation of the "type" of thing that it is and a lot of recursion once you know that that type is.

Images, audio and video are all direct data forms that have a conventional way of being displayed that requires relatively little interpretation and (at least

[2017-10-07 03:06] rgbkrk commented on #17
@mpacer is spot on in describing the potential complexity. Given my current stretch of maintained projects (which I admit I allow to grow), I'd prefer to keep this one simple. M is thinking ahead about if/when we handle updating nested objects (a virtual dom diff).

One way I'd probably think about this: React never takes arbitrary Objects -- you're expected to create a function that returns React

[2017-10-07 03:10] rgbkrk commented on #17
How about, for now, we create another repo/package, which we can toss any time we want, called `vdomify`. It would use the `display_formatter` to compute the mime bundle:

[code]

Then we'd have our own "display order".

[2017-10-07 04:42] ellisonbg commented on #17
I am fine putting the code to convert between other objects and and vdom
elements in a separate package.

On Fri, Oct 6, 2017 at 8:10 PM, Kyle Kelley <notifications@github.com>
wrote:

--
Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on Twitter and GitHub
bgranger@calpoly.edu and ellisonbg@gmail.com

[2017-10-08 20:37] rgbkrk commented on #17
Ok I made an initial stab at this in [vdomify](https://github.com/rgbkrk/vdomify) (which is also pip-installable -- run `pip install vdomify`).

I'm cheating with the HTML mimetype for now, I'll add image types shortly... The interface underneath pretty much matches https://github.com/nteract/nteract/tree/master/packages/transforms#standard-jupyter-transforms

![screen shot 2017-10-08 at 1 36 27 p

[2017-10-08 21:04] ellisonbg commented on #17
I like the core interface here. Would we provide some default transforms
though?

On Sun, Oct 8, 2017 at 1:37 PM, Kyle Kelley <notifications@github.com>
wrote:

--
Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on Twitter and GitHub
bgranger@calpoly.edu and ellisonbg@gmail.com

[2017-10-08 21:07] rgbkrk commented on #17
Yeah I made transforms for `text/plain`, `text/html`, and `application/vdom.v1+json` (which is a no-op). Open to the others.

It's kind of funny though, they mostly mirror the mimetype handling on the frontend (even the `image/*` ones will). Makes me kind of wish for either custom elements (web components) or a way to use a "namespace" of react components (note: I've been down the path before with

[2017-10-08 21:14] ellisonbg commented on #17
Cool, the main other ones would be for the bit mapped image types.

I know there will be pressure from ourselves and others to allow custom
components. I think it is reasonable to hold a hard line now and now go
that way. Is easy to reconsider later, but once they are allowed,...you
know how that goes...

On Sun, Oct 8, 2017 at 2:07 PM, Kyle Kelley <notifications@github.com>
wrote:

--
Brian E. Gr

[2017-10-08 22:15] rgbkrk commented on #17
Yeah, I'd like to see the simple basics get integrated first. We evangelize how to work with `vdom`, show peoplle how to create their own components, and how to do display updates with them.

[2017-10-09 03:11] willingc commented on #18
Cool!

[2017-10-11 03:11] willingc commented on #17
Interesting discussion on gitter ipywidgets re: __repr_html__

From Matt Rocklin:

[2017-10-11 03:23] rgbkrk commented on #17
Something like this:

<img width="797" alt="screen shot 2017-10-10 at 10 17 16 pm" src="https://user-images.githubusercontent.com/836375/31420714-d315c264-ae08-11e7-83e4-1b33efb6fe31.png">

Or were you thinking of a way to do it with display updates?

<img width="748" alt="screen shot 2017-10-10 at 10 22 17 pm" src="https://user-images.githubusercontent.com/836375/31420839-90ba2148-ae09-11e7-8beb-

[2017-10-11 05:01] rgbkrk opened #28 "Make internal API more Pythonic"
As raised by @dutc in person, we should change `createComponent` to `create_component` to match Python semantics, as well as switching `toJSON` to `to_json`. He said he'd handle it for us, so we can wait a day for a PR. 😉

[2017-10-12 04:54] rgbkrk commented on #16
Done in #29.

[2017-10-12 04:54] #16 closed

[2017-10-23 20:28] rgbkrk opened #31 "Create a helper to adapt kabob-case and snake_case properties to camelCase"
As mentioned by @gaearon in https://github.com/facebook/react/issues/11315#issuecomment-338469109, we should create an adapter that converts any kwargs to match what React expects exactly (as is also written in our spec).

[2017-10-26 21:20] Madhu94 commented on #3
@sara-02 Are you working on this now ?

[2017-10-26 21:23] #28 closed

[2017-10-26 21:30] rgbkrk commented on #18
Given how much the code has changed since I wrote the above, the approach might be different but I think we can still provide full examples for each element type.

[2017-10-27 05:42] sara-02 commented on #3
@Madhu94 Sorry, I did not get time to work on this :/

[2017-10-27 18:28] mpacer commented on #3
@sara-02 will you have the time to work on this?

We can help!

For example, I'll make a dumb stand-in that doesn't really do much to validate other than hook up an actual json schema to the validation mechanism used to create the objects.

That way all you would need to do is to improve upon the existing schema!

[2017-10-28 18:45] ellisonbg opened #34 "Can't find schema file..."
Hi all, tried running with a dev install and the library is currently looking at the relative path `schema` to fine the schema file. However, that path will be relative to the kernel, so it only works if running from the root of the repo. Probably should move the schema dir into the python package so that gets shipped with the package and then adjust things relative to `__file__`.

[2017-10-29 00:48] #34 closed

[2017-10-30 19:35] rgbkrk opened #38 "CSS "Module""
Since the `style` attribute has to be a dict pure code has to be written like this:

[code]

Since I really like using keyword arguments throughout (since we use it for all the DOM properties), I sometimes use a `dict`, sometimes aliasing it as `style`:

[code]

What would you all think if we had from `from vdom import style` or `from vdom import css`, where it was just a simple function that turn

[2017-10-30 19:49] rgbkrk opened #39 "Void tags must _not_ have children"
We should enforce void tags not having children at the python level (though we can also check it at the frontend level). Otherwise, [React will report a _major_ error about void tag children](https://reactjs.org/docs/error-decoder.html?invariant=137&args[]=input&args[]=) (not a warning), followed by bombing the entire app (assuming no `componentDidCatch` implemented). Known tags we should check fo

[2017-10-31 01:35] mpacer commented on #39
What is the equivalent of having "void tag children" inside the notion of python?

[2017-10-31 01:37] rgbkrk commented on #39
children for each of these tags should each be None

[2017-11-01 16:07] rgbkrk commented on #39
Closed by #40, #41.

[2017-11-01 16:07] #39 closed

[2017-11-06 06:02] Madhu94 commented on #3
@rgbkrk I guess this is good to close then ?

[2017-11-06 15:50] rgbkrk commented on #3
Nope, we still need a schema. All that @mpacer added was a starter schema file, we don't have the proper definition here yet.

[2017-11-06 16:07] Madhu94 commented on #3
Oh I should have checked the diff.
@sara-02 I'm taking this up if you don't mind.

[2017-11-06 17:05] willingc commented on #3
@Madhu94 Thanks for your enthusiasm and desire to contribute.

Let's give @sara-02 48 hours to respond if she would like to continue the work she has done or have you pick up the rest of the issue. Thanks!

[2017-11-06 18:04] Madhu94 commented on #3
@willingc Sure, I'll wait for a few days. @sara-02 Let me know if I can pick this up.

[2017-11-07 15:19] sara-02 commented on #3
@Madhu94 sorry for the delay, please take it forward.

[2017-11-07 15:28] willingc commented on #3
Thanks @sara-02. Looking forward to contributing in the future :sunflower:

[2017-11-09 22:08] aunyks commented on #38
IMHO, I think the original dictionary approach is more intuitive regarding CSS (since the syntax is relatively similar), but if we were to go with a function that returns a dictionary I think `from vdom import css` is the best approach.

Simply because I think
[code]
looks better than
[code]

[2017-11-09 22:35] rgbkrk commented on #38
Yeah `css` sounds good! One extra thing that negates `style` -- I just introduced the `<style>` component in #42, so the namespace belongs to the element now.

It sounds like you're also _more_ in favor of the raw dictionary which is cool with me because we can just do nothing and let people continue to use it the way they want.

[2017-11-10 17:04] mpacer commented on #38
Might I suggest we look into building utilities for something like NotebookNode from nbformat, so that we have access to attribute based reassignment?

We could augment it with a js like fallback where dot access does not raise a keyerror if the key is not present but instead returns None.

but then it would probably be more appropriate for it to be `Css()` or even `CSS()` since this would require

[2017-11-10 17:13] mpacer commented on #38
Note I'm not suggesting we shouldn't allow dictionaries in there, but it also might be fun to be able to link one of these objects to a update handler so that you could modify how a VDOM object renders after the fact… but that's probably over-the-top.

[2017-11-13 19:34] shoyer opened #43 "Backwards compatible HTML generation"
As discussed over in https://github.com/jupyterlab/jupyterlab/issues/3200, for use in older notebook interfaces, it would be valuable if vdom exposed an easy way of generating HTML.

[2017-11-18 21:36] Madhu94 commented on #3
I've been trying some variations of what I've posted below, but I cannot make vdomEl and vdomNode reference each other.  Is it even possible to make a "recursive" schema ? Or was the validation only meant for the top level and the recursion to be done in code ?

[code]

[2017-12-11 08:04] fperez commented on #43
👍 ! This reminds me of an old tool that I used back in 2002, called HTMLgen (I think it doesn't exist anymore, the new [htmlgen package](https://pypi.python.org/pypi/htmlgen) is something else). It allowed for really easy creation of HTML documents programmatically, this is some of my old code from my dissertation, creating pages with auto-generated images from numerical simulations:

[code]

I ha

[2017-12-11 08:08] fperez commented on #43
ps - interesting bit of archeology, HTMLgen is [still online](http://soc.if.usp.br/manual/python-htmlgen/html/main.html). Since they highlight that it **reuires python 1.5 or later**, I'm going to bet it may not have seen much maintenance lately :)

[2017-12-23 19:39] rgbkrk opened #46 "vdom for non-python"
Since there's a WIP port of React to [Kotlin](https://github.com/lelandrichardson/recoil), we might have ourselves a nice layer for JVM kernels to do `vdom` things. For Scala, we could also write a separate library (as this is a pretty simple API).

/cc @holdenk

[2017-12-27 16:56] rdodev opened #47 "Unexpected Literal html Output"
Hey folks,

Taking `vdom` for a spin on Jupyter notebook. Trying the example in your docs produces unexpected literal html output as shows in attached image below.

OS: OS X (High Sierra)
Python: 2.7.x
vdom: 0.5 (from pip)
![screen shot 2017-12-27 at 11 53 45 am](https://user-images.githubusercontent.com/1234335/34387582-04d8a844-eafd-11e7-9106-c8b3caa68fd6.png)

[2017-12-27 16:58] rdodev commented on #47
When wrapped around `display` also produces same output:

![screen shot 2017-12-27 at 11 58 07 am](https://user-images.githubusercontent.com/1234335/34387636-4a91e7d8-eafd-11e7-9a46-ef1679319dbb.png)

[2017-12-27 17:00] Madhu94 commented on #47
@rdodev This isn't supported in the notebook yet (https://github.com/jupyter/notebook/pull/2840). You can try this out in nteract

[2017-12-27 17:01] rdodev commented on #47
@Madhu94 Ahh well, that explains it =)

[2017-12-27 17:04] rgbkrk commented on #47
JupyterLab supports it as well. 😄

[2017-12-27 17:46] rdodev commented on #47
Oh nice. Was having a hard time without tab-complete on nteract :) This will help.

[2017-12-27 22:47] rgbkrk commented on #47
nteract uses typeahead, the other way to trigger completion is with ctrl-space. 😄

[2017-12-31 22:25] #3 closed

[2018-04-19 20:17] rgbkrk commented on #43
That seems sensible. Amusingly I've gone the _other_ direction as well using `xml`, converting HTML to VDOM nodes with `xml.dom`'s `minidom`.

[2018-04-22 04:54] yuvipanda commented on #47
I'm gonna close this now!

#43 should help get vdom on older notebook interfaces.

[2018-04-22 04:54] #47 closed

[2018-05-17 02:21] chenjiandongx opened #61 "Broken images"
In [design-patterns.md](https://github.com/nteract/vdom/blob/master/docs/design-patterns.md), all the images broken
![image](https://user-images.githubusercontent.com/19553554/40153275-9f6f8724-59bb-11e8-8cf1-7fa30b0171c9.png)

And it seems not a vaild img url

![image](https://user-images.githubusercontent.com/19553554/40153312-dcdb4d5a-59bb-11e8-8c57-824712d98afa.png)

[2018-05-18 18:57] #43 closed

[2018-05-18 19:50] rgbkrk commented on #61
Oh yeah, they sure are. We should re-generate those.

[2018-05-18 21:26] yuvipanda opened #62 "Implement 'style' attribute generation in HTML conversion"
As a followup to #59

Currently style attributes aren't properly encoded. They should be!

[2018-05-18 21:26] yuvipanda opened #63 "Remove dependency on IPython"
IPython is a pretty heavy package to depend on. Currently we only use it for Unicode handling between 2 & 3.

We should remove this dependency.

Followup to #59

[2018-06-02 07:21] yuvipanda commented on #31
I started running into this problem in #64 too, with style attribute key case names.

[2018-06-14 19:28] yuvipanda commented on #62
Fixed in #64

[2018-06-14 19:28] #62 closed

[2018-07-30 21:43] mpacer opened #67 "Example notebooks are broken"
Right now, our `_html_repr_` is not handling a couple of our features:

- [x] Boolean key-value pairs (all values are treated as strings meaning you cannot define `<video controls><source src='…'></video> ` as opposed to `<video ><source src='…'></video> `)
- [x] DOM style css keys don't work in style attribute blocks (inline style info needs to be defined with css-style names)
- [ ] Updating exis

[2018-08-17 15:32] mpacer opened #69 "tests for event handler support needed"
The recent change in #68 to encode styles in attributes broke the changes in #44. Which I didn't notice when I gave the thumbs up on rebasing and merging.

This wasn't caught automatically because there weren't any tests for how callbacks are intended to be handled.

@gnestor would you write some tests for this functionality? After that we'll need to work on reimplementing the attribute encoding s

[2018-08-17 15:37] mpacer opened #70 "Move event handlers out of attributes"
The issue that came up around #69 is making me think.
Would it make sense to modify the vdom spec to actually encode callbacks not as a type of attribute, but as a separate field entirely?

Event handlers (specifically their targets) do have a pretty specific purpose that isn't equivalent to a standard (static, serializable) attribute. Other than this all of the attributes that we passing up the w

[2018-08-17 16:44] rgbkrk commented on #70
Oh my gosh that's a great idea.

Then we'll have a minor version change to the spec that can be ignored by current frontends and is adaptible by future implementations. Love it @mpacer!

[2018-08-17 16:46] rgbkrk commented on #70
Do we want to call them `dynamicAttributes` or something about comm registration? I like that this will make it explicit which fields to ignore for the html representation.

[2018-08-17 17:09] gnestor commented on #70
This sounds fine to me 👍To clarify, would the user experience still be the same:

[code]

[2018-08-17 18:18] rgbkrk commented on #70
It seems like something where we'd special case the handling in python to make the interface nice n' easy for pythonistas, while the internal storage and output format differ.

[2018-09-16 23:27] rmorshea opened #72 "VDOM as a Gateway to Extensions"
What if you could load react components that were registered as "extensions" using `vdom`...

[code]

Assuming you had some sort of global extensions storage mechanism it seems like it would be relatively trivial to identify whether or not the `tagName` was novel or not before grabbing the appropriate extension and dynamically mounting it.

The part I don't know anything about is what that "global

[2018-10-03 00:00] rmorshea commented on #72
ping: @mpacer

[2018-10-10 01:49] st-pasha opened #73 "Example code from `docs/event_spec.md` does not work"
When running this code in a JupyterLab notebook
[code]

the following error occurs:
[code]

My environment is:
`vdom-0.5`
`IPython-7.0.1`
`jupyterlab-0.35.0`

[2018-10-10 02:16] st-pasha commented on #73
After digging around, the error has disappeared when I upgraded `ipykernel` from `4.5.2` to the latest `5.1.0` version. Or, rather, it was replaced with a different error:
[code]

[2018-10-10 21:29] st-pasha commented on #73
It seems the `encode_attributes` function in `core.py` is supposed to handle callback methods, yet it is not called from anywhere.

[2018-10-18 00:40] rgbkrk commented on #73
cc @gnestor 👀

[2018-10-26 04:48] rmorshea commented on #72
@gnestor I'm a little too tired to take this in at the moment, but this is definitely interesting!

I haven't followed everything that's gone on with VDOM but is the `my_slider.update` method something new that would be provided by the hypothetical `vdom_react` library?

[2018-10-26 19:10] gnestor commented on #72
@rmorshea Understood 👌

`my_slider` is a display handle (the result of `IPython.display.display` or `IPython.display.HTML` or any ipython display function). As of ~2 years ago, ipython also provides an `update_display` function which allows the kernels-side to update a display on the front-end (even if it's in the output of another cell). Display handles also have an `update` method which is just

[2018-11-13 18:17] AaronWatters opened #74 "fyi: Cloned functionality for widgets"
Hi folks.  I'm not sure that this is the right place to put this, but I was inspired by `vdom` to add similar functionality to the `jp_doodle` jupyter widgets package.  Please have a look here for a demo:

https://github.com/AaronWatters/jp_doodle/blob/master/notebooks/misc/wdom%20demo.ipynb

I will add additional documentation in the fullness of time.

Thanks!  -- Aaron Watters

[2018-11-14 18:46] rgbkrk commented on #74
Love it.

cc @gnestor

[2018-11-15 07:03] gnestor commented on #73
@st-pasha Sorry the front-end side hasn't been implemented yet. There is an open PR on jupyter-renderers (https://github.com/jupyterlab/jupyter-renderers/pull/134) that did implement this in JupyterLab, but this stuff needs to be moved into @nteract/transform-vdom and the kernel-related parts  in @jupyterlab/vdom-extension.

[2018-11-15 07:59] gnestor commented on #74
@AaronWatters This is awesome! We are working on adding event handler suppor-endt to vdom. It's currently implemented on master and I am working on implementing it on the front (@nteract/transform-vdom which is used by nteract and JupyterLab). We are trying to keep the API as similar to React's as possible. You can read more about it in [the spec](https://github.com/nteract/vdom/blob/master/docs/e

[2018-11-15 13:32] AaronWatters commented on #74
Nice.

The `jp_doodle` version supports events (and anything else available using jQuery or jQueryUI) out of the box and has a lot of other capabilities like generic Python callbacks from Javascript and the reverse.  It does not support some of the other use cases you have in mind like serializing to stand alone HTML.  You can also run the example using Binder here:

https://mybinder.org/v2/gh/Aar

[2018-11-15 19:30] #69 closed

[2018-11-15 19:45] gnestor commented on #70
Ok, I'm thinking through this and would appreciate some feedback:

Assuming that the UX is the same:

[code]

First, we would pop event handlers out of attributes. In `self.encode_attributes`, we are doing:

[code]

So, if an attribute is a function, we consider it an event handler. We could also create a whitelist of event handler attribute names and filter them out that way. I like the former be

[2018-11-15 20:00] rgbkrk commented on #70
`eventHandlers` would definitely be a top level property. The spec for an eventHandler though is just a mapping of `string` to `string` right? Since we're talking `onClick` -> `target_name` right?

[2018-11-19 18:08] AaronWatters commented on #74
I'm closing/thread this comment because it is really not in issue. :)

[2018-11-19 18:08] #74 closed

[2018-11-27 16:26] rcox771 opened #77 "vdom in google-collab?"
I just gave it a shot and found that it didn't work out of the box. All I get is an empty div for the example. Is there a quick fix?

![image](https://user-images.githubusercontent.com/13604961/49095540-b003e080-f236-11e8-9456-88f81c899345.png)

 I could see vdom getting adopted much more across the academic/mooc communities out there if this was a thing. There are already some out there that use

[2018-11-27 18:00] rgbkrk commented on #77
You'll want to let the colab folks know over in https://github.com/googlecolab/backend-container or something.

cc @craigcitro

[2018-11-27 18:21] craigcitro commented on #77
Thanks @rgbkrk!

https://github.com/googlecolab/colabtools/issues is the place to report (aka `Help` -> `Report a bug`).

[2018-11-27 22:42] rcox771 commented on #77
Will do, thanks @craigcitro @rgbkrk

[2018-11-27 22:42] #77 closed

[2018-11-30 22:05] #70 closed

[2018-11-30 23:49] mathisonian opened #78 "Usage question in jupyter notebook"
👋 Hi all - thanks for this library.

I have a question about just basic usage within a Python Jupyter notebook environment. I attempting to make a library that uses VDOM internally in order to have objects produce rich output in the notebook. I'm trying to have Jupyter render HTML when a certain function is called on an object, which I can do fine using the `render( HTML(...) )` functions that com

[2018-12-02 20:14] rgbkrk commented on #78
We haven't shipped the version on master that will output `text/html` for the classic notebook yet, mostly due to some major new features for event handling (that won't get supported in the html views).

Think we're ready to ship @gnestor?

[2018-12-02 20:15] rgbkrk commented on #78
By the way, I'm in Seattle all this week in case you're able to meet up in the evening. 😄

[2018-12-02 20:46] mathisonian commented on #78
Hey, that would be great! Twitter DM for logistics?

[2018-12-03 07:19] gnestor commented on #78
@rgbkrk Ya, things are working nicely with vdom@master + @nteract/transform-vdom@master + @jupyterlab/vdom-extension@gnestor/vdom-events-demo, so it should be fine to publish a new version of vdom (and @nteract/transform-vdom).

[2018-12-03 18:23] rgbkrk commented on #78
Shipped 0.6! Please shake out any loose bugs. ❤️

Let's not delay on release again. 😅

[2018-12-03 18:23] #78 closed

[2018-12-14 21:57] willingc opened #82 "Fix long description in setup.py for pypi"
Long description is currently not rendering correctly on pypi

We should correct for 0.7.

[2018-12-16 18:33] willingc opened #83 "Design of updating existing display objects"
From #67

- Updating existing display objects does not work since we changed VDOM objects to be immutable; this breaks the last examples in exploring-elements.ipynb

Do we want to have a discussion about or make a design decision on how we want to support updated displays of vdom objects?

[2018-12-16 18:33] willingc commented on #67
#68 fixes the first two items. Third item moved to #83

[2018-12-16 18:33] #67 closed

[2018-12-19 17:02] rgbkrk commented on #83
I think we need to re-do those examples, to instead make functions that return vdom elements. There's a part of me that thinks an API that allows updates could be built on top of vdom (just using vdom for the representation to send across the wire).

[2019-02-08 09:44] KrishnaKumarHariprasannan opened #87 "Is version 0.6 stable?"
Hi,

https://github.com/nteract/vdom/releases/latest is still pointing to release 0.5. Is it safe to use 0.6 or should one wait for it to be tagged with the latest tag?

[2019-02-18 13:29] saluto commented on #73
Is there any progress on this? It would be really great to have that functionality. Thanks.

[2019-02-19 02:14] gnestor commented on #73
Just waiting for https://github.com/jupyterlab/jupyterlab/pull/5670 to be merged in jupyterlab

[2019-03-01 17:23] rmorshea opened #88 "Update Mimetype Specification With New Event Handler Location"
Since event handlers were moved out of `attributes` we need to update the mimetype specification:

https://github.com/nteract/vdom/blob/master/docs/mimetype-spec.md

[2019-03-01 17:38] rmorshea opened #89 "Avoid Serializing Whole Event Objects"
# Summary

In my own front end implementation I found that it would be tedious to determine how to serialize every possible event.

Instead of doing this you could define the exact attributes of the event object that need to be sent back to the handler. The new spec for event handlers might look something like this:

[code]

Consider one possible API that could leverage this:

[code]

The serializ

[2019-03-19 04:09] rmorshea commented on #89
@gnestor thoughts?

[2019-03-19 22:53] gnestor commented on #89
This has been specified in https://github.com/nteract/vdom/blob/master/docs/event-spec.md. You can see it in action in the curren @nteract/transform-vdom implementation: https://github.com/nteract/nteract/blob/master/packages/transform-vdom/src/event-to-object.ts#L17.

[2019-03-19 23:01] rmorshea commented on #89
@gnestor it seems like you special cased grabbing `target.value` for the "submit" event in `vdom-transform`, however there might be more cases in which you might want to grab an arbitrary property on the target, or grab `target.value` on other events (e.g. `onKeyDown`).

[2019-03-20 00:24] gnestor commented on #89
Totally. This event spec was based largely on [React's SyntheticEvent spec](https://reactjs.org/docs/events.html#reference). If it doesn't cover an obvious use case, then we can modify it.

[2019-04-26 12:44] captainsafia commented on #87
Hello @KrishnaKumarHariprasannan!

Thanks for opening this issue! It is safe to use 0.6. It appears that something went wrong in the tagging of the 0.6 release and it is not populating correctly in GitHub. We can resolve this in the 0.7 release.

[2019-04-26 12:44] #87 closed

[2019-04-28 03:03] #61 closed

[2019-04-30 00:07] #82 closed

[2019-04-30 01:08] #88 closed

[2019-06-05 23:26] Casyfill opened #96 "serving outside of jupyter/nteract"
is there any way right now to serve the vdom outside of the notebook? Can't find that in the docs

[2019-06-05 23:29] rmorshea commented on #96
I wrote https://github.com/rmorshea/idom to do just this - let me know what you think.

*note: there are some slight differences in the model spec that I hope to get merged here soon.*

[2019-06-06 01:31] Casyfill commented on #96
Thanks! It looks pretty cool (btw the mybynder example does not work ,raising
[code]
on any interactive execution.

But I was looking for the exact use of vdom package - is it possible?

[2019-06-06 01:43] rmorshea commented on #96
@casyfill That error is curious, I don’t seem to see that when I run it. Maybe a concurrency issue? Can you post an issue with the stack trace?

 vdom doesn’t have this capability by itself. However I wrote idom in such a way that it would be compatable with vdom’s model specification (with the exception of event handlers, for now). As a result, you should be able to use vdom with idom, so long as

[2019-06-06 17:13] rgbkrk commented on #96
You can serialize vdom to html using `to_html` on a vdom node:

[code]

I can't recall if that's only on master or if we've shipped with that.

[2019-06-06 17:21] rmorshea commented on #96
@rgbkrk it's in the latest release.

@Casyfill it probably goes without saying, but using `to_html` will only get you static HTML so event handlers won't. If you only need to serve static HTML then go with that, but if you need event handlers outside the notebook, then `idom` was made to serve that purpose.

[2019-06-17 19:24] #89 closed

[2019-06-17 19:36] rmorshea opened #97 "Updating the Event Spec"
Right now event handler information is serialized into an object of the form:

[code]

However encoding all the event information into a string is a bit limiting and probably leftover from when event handlers were part of the `attributes` field rather than `eventHandlers`. To improve this situation it seems like it would be better for event information like the hash to be expressed in an object:

[2019-06-18 06:18] rmorshea commented on #97
cc: @gnestor @rgbkrk

[2019-06-20 01:28] gnestor commented on #97
Actually event handlers look like:

[code]

So a vdom object with an event handler might look like:

[code]

The value (or the `{hash}_{event_type}`) is used as the comm target name. It doesn't include any other metadata because there hasn't been a need for it. It's true that it's not possible for a vdom (Python) user to call any methods on an `event` object, like `event. preventDefault` because t

[2019-06-20 01:29] gnestor commented on #73
It was merged a while back, closing now...

[2019-06-20 01:29] #73 closed

[2019-06-20 18:59] rmorshea commented on #97
Looks like the spec just needs to be updated to reflect that events should actually be of the form you described. Right now it shows what I described above.

As far as how to incorporating other things into the event spec without breaking the user interface I'd suggest adding an `EventHandler` object which can be used via a decorator:

[code]

Then, when creating the VDOM object you just need to c

[2019-06-26 19:37] gnestor commented on #97
Ah, I see. I will submit a PR to fix that now.

We could certainly add something like that. That doesn't complicate the API, it just makes it possible to do more sophisticated event handling. Are there any other event properties of than `preventDefault` and `stopPropagation` that you would like to see this support?

[2019-06-26 19:38] #97 closed

[2019-09-01 06:56] rmorshea opened #100 "Add a top-level importSource attribute to VDOM components"
# Summary

I think it would be useful to include a top-level `importSource` attribute to the VDOM spec:

[code]

The purpose of this attribute is to include ReactJS components in your VDOM that you write or import. You can see this demonstrated in the "ReactJS Components" example from my project `idom`:

https://idom-sandbox.herokuapp.com/client/index.html

# How it Should Work

The source string

[2019-09-05 15:50] yaananth opened #101 "Example notebook doesn't work - Can not modify FrozenDict"
Running this: https://github.com/nteract/vdom/blob/10a0f950730efab44574802647e15c1edb05758f/example-notebooks/exploring-elements.ipynb

[code]
[code]

[2019-09-05 15:53] yaananth opened #102 "onClick handler doesn't seem to be working"
I tried
[code]

[code]

Clicking on button does nothing, I would expect it to print `click`

I have these:
vdom (0.6)
ipython  (7.8.0)

What did I miss here?

[2019-09-05 16:10] yaananth commented on #102
much simple example that doesn't work:
[code]

[code]

Shouldn't the `onClick` hashes match?

[2019-09-05 16:24] rmorshea commented on #102
Not working for me in JupyterLab either. The hash for the `onClick` handler is correct (as per the spec prior to https://github.com/nteract/vdom/pull/99). My guess is that there's something wrong with the client since event handlers have been a part of VDOM for about a year. @gnestor thoughts?

[2019-09-05 16:29] rmorshea commented on #101
Thanks for reporting this.

[2019-09-08 16:41] gnestor commented on #102
@yaananth Calling `print` after the cell has completed executing won't output anything. That's why the [vdom examples](https://github.com/nteract/vdom/blob/master/docs/event-spec.md#usage) make use of ipython's `update_display` functionality.

We can make your example work by adding:

[code]

That will route the stdout to the terminal (Jupyter server output) so you will see the following when you

[2019-09-08 16:55] gnestor commented on #100
I agree that it would be great to be able to use vdom to render React components in addition to native HTML elements. However, I prefer the following interface:

[code]

I don't think that we want to encourage people to write Javascript in Python. The above approach allows people to reference Javascript from Python (in this case its referencing `react-canvas-draw` on npm but they can also referenc

[2019-09-08 16:59] gnestor commented on #100
I have created an example notebook and a branch of jupyterlab (that patches @nteract/transform-vdom to support `import_component`) that demonstrates how this approach would work: https://mybinder.org/v2/gh/gnestor/jupyterlab/vdom-react-demo?urlpath=lab/tree/packages/vdom-extension/notebooks/vdom-react.ipynb

[2019-09-09 02:29] rmorshea commented on #100
@gnestor I agree that `import_component('react-canvas-draw')` is the ideal interface, but by using JSX in the underlying model it allows for greater flexibility while still enabling you to write higher level functions that are much simpler:

[code]

[2019-09-09 13:08] yaananth commented on #102
@gnestor
Interesting, so I tried this
[code]

did nothing.

I also took that example and did this:
[code]

As you can see, still did nothing.
![no](https://user-images.githubusercontent.com/12280011/64533411-6e35b980-d2e1-11e9-8161-ad8834f4a196.gif)

I am using nteract (0.14.5)

desktop on windows.

[2019-09-12 06:45] gnestor commented on #100
I agree that there's a need for more expressiveness than just providing to an npm module name. Allow me to clarify what I mean by "reference local Javascript served from the Jupyter server, e.g. `import_component('/js/myLib/index.js')`":

You can create a JS file in JupyterLab (for example) that imports some npm modules and exports a higher-level component. I have an example in the binder above th

[2019-09-12 06:47] gnestor commented on #102
Event handling support is currently only available in JupyterLab

[2019-09-12 07:15] rmorshea commented on #100
Is there some way that we could still transpile JSX client-side? I just don't see anyone wanting to write vanilla JS for React. Even if you did, you'd probably end up re-writing it in JSX once you turned it into a real NPM package.

[2019-09-13 17:37] gnestor commented on #100
Ya, vdom could transpile any files passed to `import_component`, however if that file imports any other files (using ES modules), then those would not be transpiled. Webpack and rollup do that kind of stuff (transpiling all dependencies and bundling them) but I don't think that babel (which does the transpiling) knows how to do that.

I did a little searching and I think [the solution to using JSX

[2019-09-16 02:03] rmorshea commented on #100
The template literals are better... it just feels like it would be nice if you could copy-paste the file you imported into VDOM into a transpiled React app. I guess the decision to transpile can be up to the client though. Given that it was the client's decision, would we need any sort of indicator which describes how the file needs to be transpiled (if at all)? If so, I'm not really sure what inf

[2019-09-18 18:07] rmorshea commented on #100
Transpiling could be a later addition though. For now, I think we can suggest using [`htm`](https://github.com/developit/htm).

[2019-09-23 20:51] rmorshea opened #103 "Integration For Pyxl"
I just discovered this library:

https://github.com/dropbox/pyxl

If it becomes popular we may want to explore the possibility of converting its object model to VDOM.

[2019-09-23 21:25] #103 closed

[2019-09-26 06:04] gnestor commented on #100
Agreed 👍

[2020-02-10 17:04] mlucool opened #104 "FrozenDict cannot be unpickled"
Hi,

In python 3, `FrozenDict` can be pickled, but not unpickled (python2 does not have this issue):

[code]

I believe this is due to the reduce method. For example, this fixes it:
[code]

I am happy to make a PR if you believe this is the right fix.

[2020-02-16 20:00] allefeld opened #105 "typos in "VDOM Event Support""
In [VDOM Event Support](https://github.com/nteract/vdom/blob/master/docs/event-spec.md) there are two lines with typos in the first code example; corrected:

    from IPython.display import display

    return button(str(count), onClick=on_click, style={'width': '100', 'height': '40'})

The second code example has typos, too, corrected:

    from IPython.display import display

    model = vdom.di

[2020-02-16 20:24] allefeld commented on #83
Just stumbled across vdom, so maybe what I'm saying doesn't make sense.

But, the name "vdom" to me suggests a DOM interface like that in JavaScript, which is powerful exactly because it allows *modifying* DOM objects.

The current method to update, which involves *recreating* elements appears extremely cumbersome. Say I have a deep element hierarchy, and I want to change some small detail within,

[2020-02-16 20:59] allefeld commented on #83
Why I care: https://github.com/jupyterlab/jupyterlab/issues/7873

I believe `vdom` has the potential to fill a *big* usability gap in JupyterLab, namely to

– but only if it enables in-place modification of elements.

[2020-02-16 21:06] rmorshea commented on #83
@allefeld I’d take a look at my project [idom](https://github.com/rmorshea/idom). It seems to do exactly what you’re looking for.

[2020-02-17 05:27] gnestor commented on #83
@allefeld VDOM (virtual dom) is a concept underlying [React](https://reactjs.org/). The idea is that we don't _need_ to directly manipulate the DOM (because cumbersome) and some would argue that we shouldn't. The jQuery way of doing things exemplifies this and apps built using jQuery are difficult to reason about and even more difficult to debug. To me, the core issue is jQuery encourages you to s

[2020-02-17 06:02] allefeld commented on #83
@gnestor, thanks for the explanation!

The reason I posted is that I'm working on a Python object inspector (see jupyterlab/jupyterlab#7873), represented as nested unordered lists, and I need to create new sublists in response to user interaction (click). How would I go about implementing this using `vdom`? From what I can gather, I would have to recreate the whole nested lists every time, which i

[2020-02-17 06:07] allefeld commented on #83
@rmorshea, thanks for suggesting `idom`, it indeed looks like it has exactly the functionality I want. What lets me hesitate is the need to create mini-webservers. That makes sense if the goal is to create Python-backed websites / apps, but suboptimal within Jupyter, where there's already a server running. Maybe I misunderstand?

[2020-02-17 06:10] rmorshea commented on #83
@allefeld IDOM does in fact require you to create a simple socket server to send DOM updates to the frontend because it's not inherently tied to the Jupyter ecosystem. With that said, if there were enough interest and I found the time, there's no reason that it couldn't integrate directly into Jupyter's comm interface (thus negating the need for a socket server).

[2020-02-17 14:01] gnestor commented on #83
@allefeld Theoretically, you would just update the display of the cell containing the JSON tree visualization with the new JSON for the Python variable (e.g. `output_handle.update(json_component(new_json)))`) and VDOM (more specifically React in the vdom jupyterlab extension) would handle computing the diff between the existing DOM and your new virtual DOM and apply the minimum number of DOM opera

[2020-02-17 15:50] allefeld commented on #83
Alright, that's the part I didn't realize. Thanks again!

[2020-02-17 18:48] rmorshea commented on #83
@allefeld it may be worth noting that for "large" views there may be some performance limitations since:

- The whole JSON view representation still needs to be sent over the network connection.

- React still has to create the new "virtual DOM", compute the diff between it and the old one, and then perform the minimum set of operations on the "real DOM".

My guess is that time spent on the networ

[2020-02-17 21:05] rmorshea commented on #83
Ok, here's an example which demonstrates these performance limitations. This 25 x 25 grid of colors which, when clicked, shifts the colors in a row to the right. While for some use cases the performance is acceptable, it's definitely on the sluggish side.

[code]

A similar example using `idom` does not suffer the same performance limitations because it only sends the part of the view which actual

[2020-05-23 06:51] rmorshea commented on #100
This is implemented in IDOM now: https://idom.readthedocs.io/en/latest/javascript-modules.html

[2021-01-16 15:27] aarondewindt opened #106 "Inserting unescaped HTML string."
I'm using a third-party library (tabulate) to generate html tables from my data and I would like to insert these in the dom. Since I wasn't able to find a way to do this scanning through the docs and code I came up with this work around.

[code]

Running this doesn't result in what expect.
[code]

Renders the raw html source in the browser instead of the bold texts. So it's still being escaped.

C

[2021-01-16 15:43] aarondewindt commented on #106
I know probably parsing html into VDOM objects would probably be the best here.

[2021-01-17 20:08] aarondewindt opened #107 "Use markupsafe for escaping?"
Because of issue #106 I forked this project and changing it so it uses markupsafe for escaping. This not only allows marking safe text, but it also deals with any object with an `__html__` function. This function is used by a some projects out there instead of `_repr_html_`. markupsafe can also deal with the python2/3 string type shenanigans, so it'll help with issue #63. Although I think IPython

[2021-01-17 21:02] aarondewindt commented on #107
Ok, this is more complicated than I thought. From what I can see Jupyter uses the dictionary to render the VDOM objects instead of the result from `.to_html()`. It does this by using the `@nteract/transform-vdom` npm package, whose repository link is broken. My guess is, this project (vdom) is dead by now?

So in order to apply my changes I would have the modify `@nteract/transform-vdom` so it ass

[2021-01-18 18:22] rmorshea commented on #106
@aarondewindt, `idom` has [a utility function](https://idom-docs.herokuapp.com/docs/package-api.html#idom.utils.html_to_vdom) for converting HTML strings to VDOM. If you're interested in adding any interactivity to what you're displaying I'd recommend taking [a deeper look at `idom`](https://idom-docs.herokuapp.com/docs/examples.html).

[2021-03-03 14:42] rgbkrk commented on #106
We don't want to inject raw HTML onto the DOM with `vdom`, mostly so we can trust that the output is sanitized. React lets you [work around this by using `dangerouslySetInnerHTML`](https://snyk.io/blog/10-react-security-best-practices/), but if I recall correctly we don't let that prop pass through.

That's what we built it for!

[2021-03-03 15:18] rgbkrk commented on #107
`@nteract/transform-vdom` is now inside the `outputs` repository (not part of the nteract/nteract monorepo): https://github.com/nteract/outputs/tree/master/packages/transform-vdom

I've stepped away from these repos for a bit so you'll have to bear with me as I'm diving back in again.

[2021-03-03 23:13] rmorshea commented on #106
@rgbkrk perhaps worth porting the `html_to_vdom` function here?

[2021-03-05 21:19] rgbkrk commented on #106
Where... did that get written at? It's... been awhile.

[2021-03-05 22:59] rmorshea commented on #106
Here's the function: https://idom-docs.herokuapp.com/docs/package-api.html#idom.utils.html_to_vdom

I wrote for [IDOM](https://github.com/idom-team/idom) but it should be compatible.

[2021-06-15 16:15] mlucool commented on #104
Bumping this as we still run into it sometimes. Would you be willing to accept a PR for this?

CC @captainsafia @rgbkrk @willingc